body {
    overflow-x: hidden;
    overflow-y: hidden;
}

.titleForm {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: 25%;
}

.tileNegocios {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.input-group {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#btnAccess {
    border-radius: 15px;
    color: #28df99;
    ;
    border-color: #28df99;
    width: 60%;
    overflow-x: hidden;
    overflow-y: auto;
}

#btnAccess:hover {
    color: #fff;
    font-weight: 700;
    background: #28df99;
}

#forgotPassword {
    text-decoration: none;
    color: #557571;
}

#forgotPassword:hover {
    text-decoration: none;
    color: #28df99;
    ;
}


/*Carrusel*/

.img-1 {
    /*background-image: url('../img/tienda.jpg');*/
    background-size: cover;
    background-position: center;
    opacity: 70%;
}

.titleCarousel {
    margin-left: auto;
    margin-right: auto;
    margin-block-end: 50%;
    justify-content: center;
    font-size: 50px;
}

.pharrafCorousel {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    font-size: 20px;
    color: #fff;
}

#btnNuevo {
    margin-left: auto;
    margin-right: auto;
    margin-block-end: 60%;
}

#btnNewAdministrator {
    border-radius: 15px;
    color: #ffff;
    border-color: #28df99;
    font-weight: 700;
    width: 60%;
    overflow-x: hidden;
    overflow-y: auto;
}

#btnNewAdministrator:hover {
    color: #fff;
    font-weight: 700;
    background: #28df99;
}


/*Form Registrer*/

.titleFormRegistrer {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: 30%;
}


/*Btn return login*/

#btnReturnLogin {
    border-radius: 15px;
    color: #ffff;
    border-color: #fff;
    font-weight: 700;
    width: 60%;
    overflow-x: hidden;
    overflow-y: auto;
}

#btnReturnLogin:hover {
    color: #fff;
    font-weight: 700;
    background: #28df99;
}


/*hero registrer*/

.img-register {
    background-image: linear-gradient(to right top, #6bd17d, #74d57f, #7dda80, #86de82, #8fe284, #8be68e, #88ea98, #85eea2, #76f2b7, #69f6cc, #60f9df, #5ffbf1);
    background-size: cover;
    background-position: center;
}


/*User header */

.user-header {
    background-image: linear-gradient(to right top, #fffdfe, #fcfafb, #f8f6f9, #f4f3f7, #f0f0f5, #eef0f5, #eceff5, #e9eff5, #e9f2f7, #eaf4f8, #ebf7f9, #edf9f9);
}


/* AJAX loader */
.ajax-loader {
    visibility: hidden;
    background-color: rgba(255,255,255,0.7);
    position: absolute;
    z-index: +100 !important;
    width: 100%;
    height:100%;
}
  
.ajax-loader img {
    position: relative;
    top:50%;
    left:50%;
}